[DESIGN]
max-args=10
max-positional-arguments=10
max-attributes=17
max-parents=14
max-public-methods=22
max-branches=13

[MESSAGES CONTROL]
disable=too-few-public-methods,duplicate-code,invalid-name

[FORMAT]
good-names=id,x,y,tx,rx
