[DESIGN]
max-args=10
max-positional-arguments=10
max-attributes=17
max-parents=14
max-public-methods=22
max-branches=13

[MESSAGES CONTROL]
disable=too-few-public-methods,duplicate-code

[FORMAT]
good-names=id,x,y,tx,rx,Double,Float,Half,Bool,Int8,Int16,Int32,Int64,Uint8,Primitives,PrimitiveTypes,Uint16,Uint32,Uint64
